h2{
    font-size: 3rem;
    font-weight: bolder;
}


/* HEADINGS */
.big-headings{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}
.features-heading{
    font-size: 1.5rem;
    font-weight: bold;
}
.testimonial-heading{
    font-size: 3rem;
}
.pricing-heading{
    font-weight: bolder;
}
.cta-heading{
    font-size: 3rem;
    font-weight: bolder;
}


/* IMAGES */
.title-image{
    position: absolute;
    right: 30%;
    width: 60%;
    transform: rotate(25deg);
    
}
.testimonials-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
.press-images{
    width: 15%;
    padding: 20px 20px 50px;
}


/* ICONS */
.icon{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
    
}

.footer-icons{
    padding: 0 0.5%;
}


/* Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}


/* TITLE */
#title{
    background-color: #ff4c68;
    color: white;
    
    
}
.container-fluid{
    padding: 3% 15%;
}


/* navbar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}


/* Features */
#features{
    padding:  7% 15% ;
    background-color: white;
    position:relative;
}
.feature-boxes{
    text-align: center;
    padding: 5%;
}
.desc{
    color: #8f8f8f;
}


/* Testimonials */
#testimonials{
    background-color:  #ef8172;
    text-align: center;
    color: white;

}
.carousel-item{
    padding:  7% 14%;
}


/* press */
#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 3%;
}


/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}


/* Call To Action */
#cta{
    background-color: #ff4c68;
    padding: 5% 25%;
    text-align: center;
    color: white;
}


/* Footer */
#footer{
    padding: 5% 15%;
    text-align: center;
    background-color: white;
}


@media (max-width: 1028px) {
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}